* {
  margin: 0;
}

body {
  background-color: rgb(184, 154, 82);
}
 /* top bar */
.titleSec {
  background: linear-gradient(rgba(13, 55, 68,1) 0px, rgba(13, 55, 68,1) 100px, rgba(0,0,0,.2) 100%),
    url("./assets/bg_img.jpg");
  background-size: cover;
  padding-bottom: 30px;
}

.titleSec .topBar {
  background-color: rgba(13, 55, 68, 1);
  display: flex;
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
}

.titleSec .topBar li {
  list-style: none;
  display: inline;
}

.titleSec .topBar .menuBar {
  margin-left: -20px;
}
.titleSec .topBar .menuBar li {
  margin: 10px;
  padding: 2px;
}
.titleSec .topBar .menuBar li:hover {
  background-color: white;
  color: rgba(13, 55, 68, 1);
  border-radius: 3px;
}
.titleSec .topBar .socialMedia {
  margin-left: auto;
  padding-right: 30px;
}
/* title-splash section */

.titleSec .splashSec {
  display: flex;
  align-items: center;
}
.titleSec .titleText {
  color: white;
  font-size: 4em;
  margin-left: auto;
  text-align: right;
}
.titleSec .titleText .subtText {
  font-size: .6em;
}
.titleSec .titleImg {
  margin-right: auto;
}
.titleSec .titleImg img {
  max-height: 500px;
  padding-left: 20px;
}

/*about*/
.textS {
  text-align: center;
}

.aboutSec {
  background-color: rgb(149, 119, 46);
}
.aboutSec .textS {
  padding: 50px;
  padding-bottom: 140px;
  color: white;
  font-size: 1.5em;
}

/* skills */
.skills {
  max-width: 1000px;
  margin: 0px auto;
  margin-top: -90px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.skills .skillsCont {
  margin: 0 2% 0 2%;
}
.skills .skillsCont .imgCont {
  text-align: center;
  border-radius: 50%;
  background-color: rgb(184, 154, 82);
  height: 150px;
  width: 150px;
  overflow: hidden;
  margin: 0px auto;
  border: 8px solid rgb(184, 154, 82);
}
.skills .skillsCont .imgCont img {
  width: 100%;
}
.skillsTitle {
  font-size: 1.3em;
  text-decoration: underline;
  margin-bottom: 10px;
}
.skillsText {
  text-align: center;
}

/*previous works*/
.prevWorks {
  padding: 50px 10px 50px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  background-color: rgb(149, 119, 46);
}
.worksCont {
  box-sizing: border-box;
  display: block;
  background-color: #0D3744;
  height: 200px;
  flex-basis: 30%;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 2px;
}

/*contact*/

.contactSec {
  padding: 50px 10px 50px 10px;
}
