.skills {
    max-width: 1000px;
    margin: 0px auto;
    margin-top: -90px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    @media #{$size-change} {
      margin-top: 0;
      display: block;
    }
  }
.skillsCont {
    margin: 0 2% 0 2%;
    @media #{$size-change} {
      margin: 2% 7% 2% 7%;
    }
    .imgCont {
        text-align: center;
        border-radius: 50%;
        background-color: $color5;
        height: 150px;
        width: 150px;
        overflow: hidden;
        margin: 0px auto;
        border: 8px solid $color5;
        @media #{$size-change} {
          display: inline-block;
          width: 40%;
          height: auto;
          overflow: visible;
        }
        img {
            width: 70%;
            height: auto;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            @media #{$size-change} {
              top: 0;
              transform: none;
            }
          }
      }
  }
  .skillsTitle {
    font-family: $opensans;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
    @media #{$size-change} {
      display: block;
      font-size: 1.7em;
    }
  }
  .skillsText {
    font-family: $lato;
    text-align: center;
    @media #{$size-change} {
      display: inline;
      font-size: 1.2em;
    }
  }