.titleSec {
  background: linear-gradient($color1 0px, $color1 100px, rgba(0,0,0,.2) 90%, black 100%),
    url("../assets/bg_img.jpg");
  background-size: cover;
  padding-bottom: 30px;
}

.splashSec {
  padding-top: $top-bar-size;
  display: flex;
  align-items: center;
  @media #{$size-change} {
    flex-wrap: wrap;
  }
}
.titleText {
  font-family: $duru;
  color: white;
  font-size: 4em;
  margin-left: auto;
  text-align: right;
  @media #{$size-change} {
    flex-basis: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    text-align: center;
  }
}
.titleText .subtText {
  font-family: $lato;
  font-size: .4em;
}
.titleImg {
  margin-right: auto;
  @media #{$size-change} {
    flex-basis: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    text-align: center;
  }
  img {
    max-height: 500px;
    padding-left: 20px;
  }
}
