.topBar {
  font-family: $lato;
  background-color: $color1;
  display: flex;
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  li {
    list-style: none;
    display: inline;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

.menuBar {
  margin-left: -20px;
  li a {
    margin: 10px;
    padding: 2px;
    transition: all 0.2s ease;
    &:hover {
      background-color: white;
      color: $color1;
      border-radius: 3px;
    }
  }
  .active {
    text-decoration: underline;
  }
}


.socialMedia {
  margin-left: auto;
  padding-right: 30px;
  .github {
    height: 32px;
    width: 32px;
    background-image: url("../assets/github.png");
    transition: all 0.2s ease;
    &:hover {
      background-image: url("../assets/github_hover.png");
    }
  }
}
