.topBar {
  font-family: $lato;
  background-color: $color1;
  display: flex;
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  li {
    list-style: none;
    display: inline;
  }
}

.menuBar {
  margin-left: -20px;
  li {
    margin: 10px;
    padding: 2px;
    transition: all 0.2s ease;
    &:hover {
      background-color: white;
      color: $color1;
      border-radius: 3px;
    }
  }
}

.socialMedia {
  margin-left: auto;
  padding-right: 30px;
}
