$blueBase: #0d3744;
$blueLight: #657F88;
$beigeBase: #e2c786;
$beigeEmphasis: #6E551A;

$color1: rgba(82, 111, 151, 1);
$color2: rgba(11, 17, 94, 1);
$color3: rgba(190, 97, 101, 1);
$color4: rgba(123, 88, 84, 1);
$color5: rgba(163, 182, 195, 1);
